*{
  box-sizing: border-box;
}

.btn-start {
  background-image: url(./button.png);
  color: white;
  font-size: larger;
  font-family:'Times New Roman', Times, serif;
  border: 1px solid white;
  border-radius: 15px;
  margin: auto;
  display:block;
  width: 150px;
  height: 50px;
}

#kansikuvaDiv {
    width: 800px;
    height: 800px;
    border: 1px solid white;
    background-color: rgb(1, 47, 81);
    background-image: url(./kansikuva.png);
    margin: 10px auto;
    background-size: cover;
}

html {
  width: 800px;
  margin: 50px auto;
  background-color: rgb(1, 47, 81);
}