*{
  box-sizing: border-box;
}


header {
  margin-top: 15px;
}

h1 {
  text-align: center;
  color: white;
}

.btn-start {
  background-image: url(./button.png);
  color: white;
  font-size: larger;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid white;
  border-radius: 15px;
  margin: auto;
  display:block;
  width: 150px;
  height: 50px;
}

.container {
    height: 1024px;
    width: 1024px;
    border: 1px solid white;
    background-color: rgb(1, 47, 81);
    background-image: url(./kansikuva.png);
    margin: 10px auto;
    background-size: cover;
    box-shadow: 6px 6px 20px 6px white;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "door3 door10 door21 door8"
      "door14 door6 door16 door4"
      "door20 door11 door1 door13"
      "door7 door15 door22 door17"
      "door19 door23 door9 door5"
      "door2 door12 door18 door24";
}

.image {
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 300%;
    text-align: center;
    border: 1px solid white;
    background-color: none;
    transition: opacity 2.5s;
}

html {
  width: auto;
  height: 1100px;
  margin: 50px auto;
  background-color: rgb(1, 47, 81);
}












/* Container for stars */
.star-container {
  position: absolute;
  width: 100%;
  max-height: 1400px;
  top: 0;
  left: 0;
}

/* Star styling */
.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  clip-path: polygon(
    50% 0%,    /* top point */
    60% 35%,   /* inner top point */
    100% 50%,  /* right point */
    60% 60%,   /* inner right point */
    50% 100%,  /* bottom point */
    35% 55%,    /* left point */
    0% 50%,     /* left point */
    40% 35%   /* inner left point */
  );
  z-index: -1;
  opacity: 0.8;

}

/* Twinkling effect */
@keyframes twinkle {
  0%, 100% { opacity: 0.8; }
  25% { opacity: 0.2; }
  50% { opacity: 0.2; }
  75% { opacity: 0.8; }
}

.star.twinkle {
  animation: twinkle 3s infinite ease-in-out;
}
